body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.gameboard-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  width: 500px;
  height: 500px;
  background-color: lightgray;
  margin: 0 auto;
}

.gameboard-entry {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: gray;
}